.titleTouslesFilms{
    /* background-color: pink; */
    text-align:center;
}

.moviesListContainer{
    /* border:solid blue 2px; */
    background-color: pink;
}

.divOneMovie{
    /* border:solid green 2px; */
    display:flex;
    flex-direction:row;
    margin-bottom:30px;
}
  
.imgOneMovie{
    /* border:solid yellow 2px; */
    width:150px;
    height:200px;
}
.infosOneMovie{
    /* border:solid pink 2px; */
    margin-left:15px;
    height:200px;
    display:flex;
    flex-direction:column;
}
.linkRegarderOneMovie{
    color:red;
    margin-top:auto;
    height:25px;
}